[package]
name = "ipfs"
version = "0.1.0"
authors = ["David Craven <david@craven.ch>"]
edition = "2018"

[features]
default = []
all = ["rocksdb"]

[dependencies]
byteorder = "*"
cbor = { git = "https://github.com/dvc94ch/rust-cbor", branch = "read-data-item" }
cid = { git = "https://github.com/multiformats/rust-cid", branch = "master" }
domain = "*"
env_logger = "*"
failure = "*"
fnv = "*"
futures = { version = "0.3", features = [ "compat", "io-compat", "async-await" ] }
libp2p = { git = "https://github.com/libp2p/rust-libp2p", rev = "1eff4b98237f50f8697af71fdd8362fe9e51d071" }
log = "*"
multibase = "*"
multihash = "*"
rand = "0.6"
rustc-serialize = "0.3"
serde = "1.0"
serde_derive = "1.0"
serde_json = "1.0"
tokio = { version = "0.1.21" }
tokio-fs = { version = "0.1" }
xdg = "*"
async-trait = "*"
async-std = { version = "1.4.0", features = [ "unstable", "std" ] }

rocksdb = { version = "*", optional = true }
prost = "0.6.1"

[patch.crates-io]
ctr = { git = "https://github.com/koivunej/stream-ciphers.git", branch = "ctr128-64to128" }

[build-dependencies]
prost-build = "0.6.1"
