[package]
name = "ipfs"
version = "0.1.0"
authors = ["David Craven <david@craven.ch>"]
edition = "2018"
license = "MIT OR Apache-2.0"

[features]
default = []
nightly = []
all = ["rocksdb"]

[dependencies]
anyhow = "1.0.28"
async-std = { version = "1.5.0", features = ["attributes", "std"] }
async-trait = "0.1.29"
bitswap = { path = "bitswap" }
byteorder = "1.3.4"
dirs = "2.0.2"
domain = { git = "https://github.com/nlnetlabs/domain", features = ["resolv"] }
futures = { version = "0.3.4", features = ["compat", "io-compat"] }
libipld = { version = "0.1.0", features = ["dag-json", "dag-pb"], path = "../rust-ipld" }
libp2p = "0.16.2"
log = "0.4.8"
multibase = "0.8.0"
multihash = "0.10.1"
prost = "0.6.1"
rand = "0.7.3"
rocksdb = { version = "0.13.0", optional = true }
serde = { version = "1.0.106", features = ["derive"] }
serde_json = "1.0.51"
thiserror = "1.0.14"
void = "1.0.2"

[build-dependencies]
prost-build = "0.6.1"

[dev-dependencies]
env_logger = "0.7.1"

[workspace]
members = [ "bitswap", "http", "examples" ]

[patch.crates-io]
ctr = { git = "https://github.com/koivunej/stream-ciphers.git", branch = "ctr128-64to128" }

# these are needed for the floodsub local originated messages to be seen by subscribers
libp2p = { git = "https://github.com/koivunej/rust-libp2p.git", branch = "v0.16.2-with-floodsub-opts" }
libp2p-core = { git = "https://github.com/koivunej/rust-libp2p.git", branch = "v0.16.2-with-floodsub-opts" }
libp2p-swarm = { git = "https://github.com/koivunej/rust-libp2p.git", branch = "v0.16.2-with-floodsub-opts" }
libp2p-floodsub = { git = "https://github.com/koivunej/rust-libp2p.git", branch = "v0.16.2-with-floodsub-opts" }
