[package]
name = "ipfs"
version = "0.1.0"
authors = ["David Craven <david@craven.ch>"]
edition = "2018"
license = "MIT OR Apache-2.0"

[features]
default = []
nightly = []
all = ["rocksdb"]

[dependencies]
async-std = { version = "1.5.0", features = [ "unstable", "std" ] }
async-trait = "0.1.24"
byteorder = "1.3.4"
cbor = { git = "https://github.com/dvc94ch/rust-cbor", branch = "read-data-item" }
cid = { git = "https://github.com/multiformats/rust-cid", branch = "master" }
dirs = "2.0.2"
domain = { git = "https://github.com/nlnetlabs/domain", features = ["resolv"] }
env_logger = "0.7.1"
failure = "0.1.7"
fnv = "1.0.6"
futures = { version = "0.3.4", features = [ "compat", "io-compat", "async-await" ] }
libp2p = "0.16.2"
log = "0.4.8"
multibase = "0.8.0"
multihash = "0.10.0"
prost = "0.6.1"
rand = "0.7.3"
rocksdb = { version = "0.13.0", optional = true }
rustc-serialize = "0.3.24"
serde = "1.0.104"
serde_derive = "1.0.104"
serde_json = "1.0.48"

[build-dependencies]
prost-build = "0.6.1"

[workspace]
members = [ "http" ]

[patch.crates-io]
ctr = { git = "https://github.com/koivunej/stream-ciphers.git", branch = "ctr128-64to128" }
